.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form button {
  height: 40px;
  border: 0;
  background-color: var(--green-900);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3rem;
  color: var(--dark-700);
}
