.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
}

.container h1 {
  color: var(--white);
}

.containerHeader {
  display: flex;

  button {
    background: transparent;
    border: 0;
    margin-left: 1rem;
  }
}

.listOrders {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.emptyList {
  font-size: 1.2rem;
}

.tag {
  width: 9px;
  background-color: var(--green-900);
  height: 60px;
  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 1rem;
}

.orderItem {
  display: flex;
  background-color: var(--dark-900);
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 0.3rem;

  button {
    border: 0;
    background: transparent;
    font-size: 1.2rem;
    color: var(--white);
    height: 60px;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
}
