:root {
  --white: #FFF;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1D1D2E;

  --gray-100: #8A8A8A;
  --green-900: #3fffa3;
  --red-900: #FF3F4B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background: var(--dark-700);
  color: var(--white);
}

body, input, textarea, select, button{
  font: 400 1rem sans-serif; // 1rem = 16px
}

@media (max-width: 720px){
  html{
    font-size: 87.5%; // vai gerar 14px;
  }
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%; // vai gerar 15px;
  }
}
