.containerCenter {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--gray-900);
}

.login {
  margin-top: 2rem;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  form button {
    height: 40px;
    font-size: 1.2rem;
  }
}

.text {
  margin-top: 2rem;
  color: var(--white);
  cursor: pointer;

  &:hover {
    color: var(--gray-100);
  }
}

@media (max-width: 640px) {
  .login {
    width: 90%;
  }
}
