.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.manuNav {
  display: flex;
  align-items: center;
  transition: color 0.5s;

  a {
    color: var(--white);
    padding: 0 0.5rem;

    & + a {
      margin-left: 2rem;
    }

    &:hover {
      color: var(--red-900);
    }
  }

  button {
    margin-left: 2rem;
    background: transparent;
    border: 0;
    transition: transform 0.8s;

    &:hover {
      transform: scale(1.2);
    }
  }

}
